*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: azure;
}
h1{
    font-size: 45px;
}
main{
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0.473);
}
p{
    font-size: 20px;
}
img.lado{
    width: 50px;
    height: 50px;
    float: right;
}
img.logo{
    width: 105px;
    height: 110px;
}